@import "constants";

.featured-post-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 35vh;

  .featured-post-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5vw;
    padding-left: 5vw;

    .featured-post-row {
      display: flex;

      .featured-post-column {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
        height: 80vh;

        // 1st column inner
        .featured-post-image {
          position: absolute;
          background-size: cover;
          top: 0;
          left: -5%;
          right: -5%;
          bottom: -5%;
        }
        // 2nd column inner
        .featured-post-para-wrapper {
          font-size: 1.4vw;
          padding-left: 5vw;
          font-family: "Quick", sans-serif;
          font-weight: 600;
          color: $text-color;

          // p:last-child {
          //   margin-top: 4vw;
          // }

          @media (min-width: 2560px) {
            font-size: 1vw;
          }

          @media (max-width: 860px) {
            font-size: 2vw;
          }

          @media (max-width: 400px) {
            font-size: 3vw;
          }

          .featured-post-para {
            text-indent: 3vw;
            line-height: 110%;
            margin: 0;

            @media (max-width: 860px) {
              line-height: 120%;
            }
          }

          span {
            display: flex;
            padding-bottom: 1vw;
          }
        }
      }
    }
  }
}
