// Constants
$bg-color: #f5f0ec;
$text-color: #2b2b2b;
$text-color-light: #f5f0ec;
$accent-color: #766751;
$accent-color-2: #780000;
$footer-color: #2b2b2b;
$gallery-color: #000000;

// $text-color: #f5f0ec;
// $bg-color: #181818;
// $text-color-light: #2b2b2b;
// $accent-color: #766751;
// $accent-color-2: #af2a2a;
// $footer-color: #f5f0ec;
// $gallery-color: #f5f0ec;
