// Constants
$bg-color: #f5f5f5; // Background Color in Globals.scc under html so animation works
$text-color: #2b2b2b;
$text-color-light: #f5f0ec;
$accent-color: #766751;
$accent-color-2: #780000;
$footer-color: #2b2b2b;
$gallery-color: #000000;
