@import "constants";

// .gallery-section {
// background: var(--color);
// }

.gallery-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  padding: 0px 5vw;
  margin: auto;
  place-items: center;
}

.gallery-counter {
  position: fixed;
  top: 10%;
  left: 100px;
  z-index: 10;
  mix-blend-mode: difference;
  line-height: 16px;
  color: $text-color-light;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;

  .divider {
    content: "";
    background-color: $text-color-light;
    width: 6.25vw;
    margin: 7px 10px;
    height: 1px;
    display: inline-block;
  }
}

.gallery {
  height: 100vh;
  padding: 12vh 0;
  width: auto;
  display: flex;
  flex-wrap: nowrap;

  .gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
  }

  .gallery-item-info-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translateX(0%);
    text-transform: uppercase;
    color: $text-color-light;
    // mix-blend-mode: difference;
    opacity: 0;
    transition: all 2s ease-in-out;

    &.is-reveal {
      opacity: 1;
      transform: translateX(20%);
    }

    .gallery-info-subtitle {
      margin-top: 20px;
      font-family: "Moniqa", sans-serif;
      font-weight: 300;
      font-size: 4vw;
      -webkit-font-smoothing: antialiased;
      z-index: 1;
    }
  }

  .gallery-item-info {
    position: absolute;
    margin-bottom: 3vh;
    bottom: 0;
    z-index: 1;
    transform: translateX(0%);
    color: $text-color-light;
    // mix-blend-mode: difference;
    opacity: 0;
    transition: all 2s ease-in-out;

    &.is-reveal {
      opacity: 1;
      transform: translateX(-20%);
    }

    // .gallery-info-subtitle {
    //   margin: 0;
    //   padding-bottom: 10px;
    //   line-height: 6vw;
    //   font-family: "Moniqa";
    //   font-weight: 600;
    //   font-size: 6vw;
    //   -webkit-font-smoothing: antialiased;
    //   z-index: 1;
    //   overflow: hidden;
    // }

    .gallery-info-title {
      position: relative;
      margin: 0;
      // padding: 5px 0;
      line-height: 6vw;
      // color: transparent;
      font-family: "Morganite";
      font-weight: 700;
      font-size: 10vw;
      letter-spacing: 5px;
      -webkit-font-smoothing: antialiased;
      // -webkit-text-stroke: 2px $text-color-light;
      color: $accent-color;
      text-transform: uppercase;
    }

    .gallery-info-category {
      position: relative;
      font-family: "Quick";
      font-weight: 700;
      font-size: 1vw;
      -webkit-font-smoothing: antialiased;
      margin-top: 20px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
  .gallery-item-wrapper {
    aspect-ratio: 16/9;
    height: 100%;
    display: grid;
    grid-template-columns: 20vw 1fr 200px;
    width: 100vw;

    &.is-reveal {
      .gallery-item-image {
        transform: scale(1);
        filter: brightness(0.8);
      }
    }
  }
  .gallery-item-image {
    background-size: cover;
    background-position: center;
    transform-origin: center;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: scale(0.7);
    transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    filter: grayscale(100%) sepia(20%) brightness(80%);
  }
}
