.navbar {
  display: flex;
  justify-content: space-between;

  padding-bottom: 50px;
  padding-top: 25px;
  font-size: 24px;

  letter-spacing: 1px;
  font-family: "Syncopate", sans-serif;
  color: #252422;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-logo {
  font-size: 28px;
}
