@import "constants";

.hero-container {
  // Hidden until initial animation starts to stop flashing
  visibility: hidden;
  overflow: hidden;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15vh;
  padding-top: 5vh;

  @media (max-width: 600px) {
    padding-top: 0vh;
  }

  .image-wrapper {
    display: flex;
    margin-top: -4vw;
    justify-content: center;
    align-items: center;
    .image-container {
      position: relative;
      overflow: hidden;
      width: 40vw;
      height: 60vw;
      z-index: -1;
      @media (max-width: 860px) {
        height: 80vw;
        width: 60vw;
      }
      @media (max-width: 460px) {
        height: 120vw;
        width: 90vw;
      }

      .styled-image {
        width: 100%;
        position: absolute;
        background-size: cover;
        top: 0;
        left: -5%;
        right: -5%;
        bottom: -5%;
        clip-path: inset(100% 0% 0% 0%);
        transition: clip-path 1.5s cubic-bezier(0.77, 0, 0.175, 1);
        &.is-reveal {
          clip-path: inset(0% 0% 0% 0%);
        }
      }
    }
  }

  h1 {
    font-family: "Moniqa", sans-serif;
    font-size: 18vw;
    font-weight: 500;
    white-space: nowrap;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    line-height: 80%;
    color: $text-color;
    display: flex;
    text-align: center;
    justify-content: center;
    // visibility: hidden;
    @media (min-width: 2560px) {
      font-size: 15vw;
    }
  }
}

.hero-bottom-wrapper {
  // Hidden until initial animation starts to stop flashing
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: flex-end;

  @media (max-width: 480px) {
    display: none;
  }

  .hero-bottom {
    display: flex;
    width: 100%;
    padding-bottom: 3vw;
    flex-direction: column;
    padding-right: 5vw;
    padding-left: 5vw;
    justify-content: space-between;
    flex-direction: row;

    @media (max-width: 768px) {
      display: none;
    }

    .hero-bottom-text-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 7.5vw;
      // height: 7.5vw;
      // background-color: white;
      // border-radius: 50%;
      text-align: center;

      .hero-bottom-text {
        display: flex;
        font-size: 1.5vw;
        text-transform: uppercase;
        font-weight: 900;
        font-family: "Morganite", sans-serif;
        color: #780000;
        letter-spacing: 3px;
      }
    }

    .hero-bottom-image-wrapper {
      display: flex;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-bottom: -40px;

      .hero-bottom-image {
      }
    }
  }
}
