.hero-container {
  position: relative;
  top: 8rem;

  .hero-menu {
    position: absolute;
    left: 0;
    top: -5rem;
    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif;
    color: #780000;
    font-weight: 600;
    text-transform: uppercase;
    @media (min-width: 768px) {
      top: -1rem;
    }

    li {
      margin: 10px 0;
    }
  }

  h1 {
    font-size: 14vw;
    text-transform: uppercase;
    text-align: center;
    color: #252422;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    @media (min-width: 2560px) {
      font-size: 13vw;
    }
  }
}
.lineParent {
  overflow: hidden;
  .lineChildren {
    transform: translate(0, 500px);
  }
}
